body {
  background-image:url(../images/makeAppt.jpg);
  background-size: cover;
  background-attachment:fixed;
  background-color: blue;
}
.container {

  margin:auto;

  width:80%;
  background-color: #eeeeee;
  padding:25px;
  border-radius: 5px;

}
h2 {text-align: center}
label{display:block;margin-top:5px; position: relative;}
input{position:absolute; left:15%; width:75%}
.submit {position:initial;width:initial;}
